body {
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  top: 0;
}

.navbar {
  display: none;
}

nav {
  height: 11vh;
  width: 100vw;
  background-color: #fff;
}

.left {
  display: inline-block;
  height: 11vh;
}

.left > img {
  height: 8vh;
  margin: 10px 5px 5px 5rem;
  -webkit-animation: flip 1s;
  animation: flip 1s;
  animation-iteration-count: 2;
}

@-webkit-keyframes flip {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flip {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.right {
  float: right;
  height: 10vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 6vh;
  text-align: center;
}

ul > li {
  list-style: none;
  margin: 5px;
  padding: 10px;
  line-height: 1.1rem;
  font-size: 1.1rem;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

li:hover {
  cursor: pointer;
  border-radius: 5px;
  color: whitesmoke;
  background: linear-gradient(90deg, rgb(239, 65, 45), rgb(79, 41, 32));
}

a:hover {
  color: whitesmoke;
}

/* HOME CSS STARTS */
.home {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(90deg, rgb(239, 65, 45), rgb(79, 41, 32));
}

.txt {
  height: 30vh;
  width: 24vw;
  display: inline-block;
  margin: 6rem 0 0 20rem;
}

.txt > h1 {
  color: whitesmoke;
  line-height: 5rem;
  font-size: 4rem;
  font-family: "Exo", sans-serif;
}

/* BLOGS SECTION CSS STARTS HERE */

.blogs-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blog {
  width: 40vw;
  height: 25rem;
  padding: 2rem;
  box-sizing: border-box;
  margin: 3rem 3rem 3rem 5rem;
}

.date {
  margin-bottom: 2rem;
  font-family: "Exo", sans-serif;
}

.blog-title {
  font-size: 2.2rem;
  font-family: "Roboto Mono", monospace;
}

.blog-content {
  font-family: "Work Sans", sans-serif;
}

.blog-btn {
  height: 3rem;
  width: 8rem;
  background: transparent;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.blog-btn:hover {
  color: black;
}

/* BLOG EXTEND PAGE */

.showBlog {
  width: 100vw;
}

.dateCat {
  width: 70vw;
  height: 10vh;
  margin: 5rem 5rem 0 5rem;
  box-shadow: #fff;
}

.titleCont > h1 {
  margin: 0rem 5rem 0 5rem;
  padding: 2rem;
  color: rgb(239, 65, 45);
  font-size: 3rem;
}

.titleCont > p {
  margin: 0rem 5rem 0 5rem;
  padding: 2rem;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}

.left-d {
  float: left;
  margin-left: 2rem;
  margin-bottom: 0rem;
  color: white;
  background: black;
  padding: 1px;
  height: 2rem;
  line-height: 2rem;
}

.right-d {
  float: right;
  margin-right: 5rem;
  margin-bottom: 0rem;
  padding: 1px;
  color: white;
  background: black;
  height: 2rem;
  line-height: 2rem;
}

footer {
  margin-top: 10rem;
  margin-bottom: 1rem;
  bottom: 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

footer > span {
  font-size: 20px;
  margin-bottom: 5px;
}

/* MEDIA QUERIES STARTS HERE */

/* FOR NAVBAR */

@media only screen and (max-width: 426px) {
  nav {
    display: none;
  }

  .body {
    width: 27rem;
    overflow-x: hidden;
  }

  #root {
    width: 27rem;
  }

  .navbar {
    display: block;
    width: 27rem;
    height: 4rem;
  }

  .left {
    float: left;
  }

  .left > img {
    height: 2.5rem;
    width: 3rem;
    margin: 6px 5px 5px 1rem;
  }

  .right {
    float: right;
    width: 15vw;
    margin-top: -1rem;
  }

  .txt {
    margin: 6rem 0 0 5rem;
  }

  /* NAV - MENU */

  .nav-menu {
    width: 24rem;
    height: 50vh;
    background-color: #fff;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #ffff;
  }

  /* HOME CSS */

  .home {
    width: 27rem;
    height: 16rem;
  }

  .txt {
    height: 10rem;
    width: 15rem;
    display: inline-block;
    margin: 4rem 0 0 2rem;
  }

  .txt > h1 {
    font-size: 3rem;
    line-height: 4rem;
  }

  /* BLOGS CONTAINER */

  .blogs-container {
    width: 27rem;
    justify-content: center;
  }

  .blog {
    width: 25rem;
    height: 35rem;
    overflow-y: hidden;
    margin: 2rem 0rem 2rem 0rem;
  }

  footer {
    margin-top: 5rem;
    font-size: 12px;
  }

  /* OPEN BLOGS */

  .showBlog {
    width: 27em;
  }

  .dateCat {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .left-d {
    display: inline-block;
    margin: auto;
    width: 45vw;
    text-align: center;
  }
  .right-d {
    margin: auto;
    width: 65vw;
    text-align: center;
  }

  .blog-title {
    height: 9rem;
    font-size: 2rem;
  }

  .titleCont {
    width: 27em;
  }

  .titleCont > h1 {
    margin: 0;
    font-size: 2rem;
    width: 13.5em;
  }
  .titleCont > p {
    margin: 0;
  }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {
  nav {
    display: none;
  }

  .navbar {
    display: block;
    height: 10vh;
  }
  .right {
    width: 10vw;
    margin-top: -0.5rem;
  }

  .left {
    height: 8vh;
  }

  .left > img {
    height: 7vh;
    margin: 0px 5px 5px 1rem;
  }
  .txt {
    margin: 6rem 0 0 10rem;
  }

  .nav-menu {
    display: block;
    background: #ffff;
  }

  /* BLOGS CONTAINER */
  .blogs-container {
    width: 100vw;
  }
  .blog {
    width: 90vw;
    margin: 3rem 3rem 3rem 3rem;
  }

  /* OPEN BLOG */
  .dateCat {
    width: 38em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  nav {
    height: 11vh;
  }
  .home {
    width: 106vw;
  }
  .txt {
    margin: 6rem 0 0 12rem;
  }
  .blogs-container {
    width: 106vw;
  }
  .blog {
    padding: 0rem;
  }

  /* OPEN BLOGS */
  .dateCat {
    width: 55em;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .home {
    width: 106vw;
  }
  .left {
    height: 7vh;
  }

  /* OPEN BLOGS */
  .dateCat {
    width: 80em;
  }
}
